@layer theme, base, components, utilities;
@import "./../../../node_modules/tailwindcss/theme.css" layer(theme);
@import "./../../../node_modules/tailwindcss/preflight.css" layer(base);
@tailwind utilities;

:host {
  display: block;
}

::placeholder {
  color: gray;
}